.about-background {
	width: 100%;

	.about-center {
		max-width: 1000px;
		margin: 0 auto;

		h2 {
			text-align: left;
			font-style: normal;
			font-weight: bold;
			font-size: 50px;
			line-height: 59px;
			color: black;
			margin: 0;
		}

		hr {
			margin: 0;
			border: 3px solid #000000;
			transform: rotate(180deg);
		}

		p {
			margin: 5% auto 10%;
			text-align: left;
			font-style: normal;
			font-weight: 300;
			font-size: 23px;
			line-height: 27px;
			color: black;
		}
	}
}
