.dashboard-background {
	height: 100vh;
	// width: 100%;

	.dashboard-center {
		// width: 100%;
		display: flex;
		// flex-direction: column;
		justify-content: space-between;
		max-width: 1000px;
		margin: 0 auto;
		text-align: left;

		.dashboard-img {
			img {
				padding: 10% 0 0 0;
				margin: 65% 0 0 0;
				width: 100%;
			}

			@media only screen and (max-width: 780px) {
				display: none;
			}
		}

		.dashboard-text {
			width: 100%;
		}

		.text-1 {
			margin: 30% 0 0 0;
			font-style: normal;
			font-weight: normal;
			font-size: 29px;
		}

		.text-2 {
			margin: 0;
			font-style: normal;
			font-weight: bold;
			font-size: 175px;
		}

		.text-3 {
			margin: 0;
			font-style: normal;
			font-weight: bold;
			font-size: 175px;
		}

		.text-4 {
			margin: 0;
			font-style: normal;
			font-weight: normal;
			font-size: 37px;
		}
	}
}
