.skill-background {
	width: 100%;

	.skill-center {
		max-width: 1000px;
		margin: 0 auto;

		.skill-img {
			display: flex;
			justify-content: space-evenly;
			flex-wrap: wrap;
			margin: 5% auto;

			.skill-info {
				margin: 0 40px 0 0;

				@media only screen and (max-width: 550px) {
					margin: 0;
				}
			}

			.one-images {
				width: 50%;
			}

			h3 {
				font-size: 20px;
			}
		}

		h2 {
			font-family: Roboto;
			text-align: left;
			font-style: normal;
			font-weight: bold;
			font-size: 50px;
			line-height: 59px;
			color: black;
			margin: 0;
		}

		hr {
			margin: 0;
			border: 3px solid #000000;
			transform: rotate(180deg);
			// margin: 2px auto;
		}
	}
}
