.App {
	margin: 0 auto;
	max-width: 1080px;
	text-align: center;
	display: flex;
	justify-content: center;
}

.dark-mode {
	background-color: #191919;
	color: white;
	transition: ease-in 1s;
}

body {
	background-color: white;
	color: black;
	transition: ease-out 1s;
}
